files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_tornado.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      #
      # Redirect all traffic to the Tornado server.
      #
      EB_APP_PYTHON_VERSION=$(/opt/elasticbeanstalk/bin/get-config container -k python_version | sed -e 's/^[0-9]\+\./&/')

      if [ -f /opt/python/run/stop-supervisor.sh ]; then
        /opt/python/run/stop-supervisor.sh
      fi

      if [ -f /opt/python/run/gunicorn ]; then
        rm -f /opt/python/run/gunicorn
      fi

      # Run Tornado server
      /opt/python/run/python${EB_APP_PYTHON_VERSION}/bin/python /opt/python/current/app/app.py --port=8080 &

      # Start Supervisor
      /opt/python/run/python${EB_APP_PYTHON_VERSION}/bin/supervisord --configuration /opt/python/etc/supervisord.conf
